<p>Booking a meeting with {{ lecturer_id }} on {{ date_time }}</p><br>

<form action="/cgi-bin/schedule_meeting.py">
  {% if is_student_booking %}
    Student ID: <input type="text" name="student_id" value={{ student_id }}><br>
  {% endif %}
  Meeting Subject: <input type="text" name="subject" value={{ subject }}><br>

  <br>
  <input type="radio" name="meeting_detail" value="individual" {% if not is_group_booking %}checked{% endif %}> Individual Booking</input> <input type="radio" name="meeting_detail" value="group" {% if is_group_booking %}checked{% endif %}> Group Booking </input> <br><br>

  <!-- REVIEW!!!!! make value=string from attendees. Use jinjas "join" filter -->
  <label>Students attending: </label><input name = "attendees" type = "text" value = {{attendees}} id = "attendees"></input> <br><br>

  <input type="hidden" name="lecturer_id" value={{ lecturer_id }}>
  <input type="hidden" name="date_time" value={{ date_time }}>
  <input type="submit" value="Submit">
</form>
