<DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8"> 
		<title>Report</title>
	</head>
	<body>
		<center>
			<h1> Meeting Report </h1>
		</center>
		<ol align="left">
			{% for date in dates -%}
			<li> {{ date }} </li>
			{% set day_details = meeting_details[date] %}
			<table>
				{% for detail in day_details %}
				<tr>
					<td> {{ detail['meeting_summary']}} </td>
					<td> {{ detail['duration'] }} </td> 
				</tr>
				{% endfor %} 
			</table>
			{% endfor -%} 
		</ol>
	</body>
	</html>