<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Student's Page</title>
</head>
<body>
    <center>
        <h1>Student's Page</h1>
    </center>
    <ol align="left">
        <form action = "/">
            <div align="left">
             <p> Please select the lecturer: </p>
             <select name="mydropdown">
                 {% for url in urls -%}
                 <option value = {{loop.index}} >{{ url }}</option>
                 {% endfor -%}  
             </select>
             {% extends "monthly_calendar_template.html" %}
             {{ script}}
             {{ input_calendar }}
         </form>
     </ol>
 </body>
 </html>
